### Custom user variables
# Copy this file to "dockcheck.config" to make it active
# Can be placed in ~/.config/ or alongside dockcheck.sh
#
# Uncomment and set your preferred configuration variables here
# This will not be replaced on updates

#Timeout=10    # Set a timeout (in seconds) per container for registry checkups.
#MaxAsync=10    # Set max asynchronous subprocesses, 1 default, 0 to disable.
#BarWidth=50    # The character width of the progress bar
#AutoMode=true    # Automatic updates, without interaction.
#DontUpdate=true    # No updates; only checking availability without interaction.
#AutoPrune=true    # Auto-Prune dangling images after update.
#AutoSelfUpdate=true    # Allow automatic self updates - caution as this will pull new code and autorun it.
#Notify=true    # Inform - send a preconfigured notification.
#Exclude="one,two"    # Exclude containers, separated by comma.
#DaysOld="5"    # Only update to new images that are N+ days old. Lists too recent with +prefix and age. 2xSlower.
#Stopped="-a"    # Include stopped containers in the check. (Logic: docker ps -a).
#OnlyLabel=true    # Only update if label is set. See readme.
#ForceRestartStacks=true    # Force stack restart after update. Caution.
#DRunUp=true    # Allow updating images for docker run, wont update the container.
#MonoMode=true    # Monochrome mode, no printf colour codes and hides progress bar.
#PrintReleaseURL=true   # Prints custom releasenote urls alongside each container with updates (requires urls.list)`
