### Custom user variables
# Rename this file to "uservars.config" to make it active
# Uncomment and set your preferred configuration variables here
# This will not be replaced on updates

#Timeout=10    # Set a timeout (in seconds) per container for registry checkups.
#MaxAsync=1    # Set max asynchronous subprocesses, 1 default, 0 to disable.
#Notify=false    # Inform - send a preconfigured notification.
#BarWidth=50    # The character width of the progress bar
#AutoMode=false    # Automatic updates, without interaction.
#DontUpdate=false  # No updates, only checking availability. Requires AutoMode.
#AutoPrune=false    # Auto-Prune dangling images after update.
#OnlyLabel=false    # Only update if label is set. See readme.
#ForceRestartStacks=false    # Force stack restart after update. Caution.
#DRunUp=false    # Allow updating images for docker run, wont update the container.
#Stopped=""    # Include stopped containers in the check. (Logic: docker ps -a).
